.hidden { display:none; }

/* Chart/Table tabs */

.single-chart .chart_tabs,
.embedded_chart .chart_tabs {
	list-style: none !important;
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	position: relative;
	top: 1px;
}

.single-chart .chart_toggle_content,
.embedded_chart .chart_toggle_content {
	border-top:1px solid #ccc;
	padding-top:15px;
	padding-bottom:15px;
}

.single-chart .chart_tabs li,
.embedded_chart .chart_tabs li {
	margin:0 !important;
	padding:0 !important;
}

.single-chart .chart_tabs li a,
.embedded_chart .chart_tabs li a {
	background: #eee;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
	border-right:1px solid #fff;
	border-bottom:1px solid #ccc;
	color: #333;
	display:block;
	float:left;
	font-family: "franklin-gothic-urw", Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1;
	padding:5px 15px;
	text-decoration: none;
}
.single-chart .chart_tabs li a:hover,
.embedded_chart .chart_tabs li a:hover {
	text-decoration: underline;
}
.single-chart .chart_tabs li.active a,
.embedded_chart .chart_tabs li.active a {
	background: white;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px white solid;
}

/* Charts embedded with shortcode or iframe */

.singular .embedded_chart {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin: 25px 0;
	padding: 20px 0;
}
.embedded_chart.noborders {
	border: 0px;
}
.singular.iframe h3,
.singular .embedded_chart h3 {
	font-family: "franklin-gothic-urw", Verdana, Geneva, sans-serif;
	line-height: 1;
	margin-top:0;
	margin-bottom: 20px;
}
.singular.iframe p,
.singular .embedded_chart p {
	font-family: "franklin-gothic-urw", Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 160%;
}
.embedded_chart #data ~ p:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
}

/* Chart credit line */

.singular p.chart_credits {
	color: #aaa;
	font-family: "franklin-gothic-urw", Verdana, Geneva, sans-serif;
	font-size: 12px;
}

body.iframe {
	margin:0;
}

/* iframe box */

#iframe textarea {
	border: 1px solid #CCC;
	box-sizing:border-box;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: monospace;
	font-size: 13px;
	margin-bottom: 15px !important;
	min-height: 150px;
	padding: 10px;
	width:100%;
}

/* Table style */

table.pew-chart {
	width: 100%;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}
table.pew-chart td,
table.pew-chart th {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.iframe table.pew-chart {
	font-family: "franklin-gothic-urw", Verdana, Geneva, sans-serif;
	font-size: 13px;
	width:100%;
}
table.pew-chart th a {
	position: relative;
	display: block;
}
.iframe table.pew-chart th a {
	box-sizing:border-box;
	color: #82A6BF;
	font-weight: normal;
	padding-right: 1.2em;
	text-decoration: none;
	width: 100%;
	margin-bottom: 10px;
}
.iframe table.pew-chart th a:hover {
	color: #456a83;
	display: block;
	text-decoration: underline;
	width: 100%;
}
table.pew-chart td,
table.pew-chart th,
.iframe table.pew-chart td {
	padding:2px 4px;
}
.iframe table.pew-chart td:nth-of-type(n+2){
text-align: right;
}
.iframe table.pew-chart tbody tr:nth-of-type(2n){
background:#F5F5F5;
}
.pew-chart th .asc:after,
.pew-chart th .desc:after {
	display: block;
	font-size: 85%;
	position: absolute;
	right: 0;
	bottom: 0.2em;
	font-family: Arial, Helvetica, sans-serif;
}
.pew-chart th .asc:after {
	content: '\25b2';
}
.pew-chart th .desc:after {
	content: '\25bc';
}
.pew-chart th a:not(.asc):not(.desc):after {
	content: '\25C6';
	position: absolute;
	right: 0;
	color: rgba(0, 49, 155, 0.32);
  outline: 1px solid #FFF;
	bottom: 10px;
  height: 18px;
  font-size: 23px;
}




